<div id="<%= dom_id mood %>">
  <p>
  <strong>Date created:</strong>
  <%= mood.created_at %>
  </p>
    <strong>Vibe:</strong>
    <%= mood.vibe %>
  </p>

  <p>
    <strong>Health:</strong>
    <%= mood.health %>
  </p>

  <p>
    <strong>Productivity:</strong>
    <%= mood.productivity %>
  </p>

  <p>
    <strong>Fun:</strong>
    <%= mood.fun %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= mood.notes %>
  </p>
</div>
