<p style="color: green"><%= notice %></p>

<%= render @mood %>

<div>
  <%= link_to "Edit this mood", edit_mood_path(@mood) %> |
  <%= link_to "Back to moods", moods_path %>

  <%= button_to "Destroy this mood", @mood, method: :delete %>
</div>
